<div class="jumbotron">
      <h1 class="text-center">Historico de Viagem </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      
      <app-cartao (acao)="getHistoricoViagem($event)"></app-cartao>

    </div>
  </div>

  <br>

    <div class="col-md-8 col-md-offset-2">           
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Historico</h3>
        </div>
        <div class="panel-body">

          <table class="table table-hover">
            <tr>
              <td>Data</td>
              <td>Origem</td>
              <td>Destino</td>
              <td>Valor</td>
            </tr>
            <tr *ngFor="let h of historico">
              <td> {{ h.dataEntrada }} </td>
              <td> {{ h.origem.nome }} </td>
              <td> {{ h.destino.nome }} </td>
              <td> {{ h.valor }} </td>
            </tr>
          </table>
          
        </div>
      </div>           
    </div>


</div>
